* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Mono Roboto', monospace;
	background: radial-gradient(circle, rgba(43, 44, 46, 1) 13%, rgba(25, 25, 25, 1) 65%);
}

.card-container {
	display: flex;
}

.card {
	position: relative;
	width: 600px;
	height: 350px;
	margin: 10px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: cover;
}

.text {
	display: flex;
	padding: 40px 10px;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.85);
	clip-path: ellipse(0% 50% at 100% 50%);
	transition: clip-path 2s;
}

.text h2 {
	margin: 10px;
	color: greenyellow;
	text-shadow: 2px 2px 5px rgb(39, 179, 0);
}

.text p {
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0);
}

.one {
	background-image: url('../img/cat-8446390_1280.jpg');
}

.two {
	background-image: url('../img/tabby-5946499_1280.jpg');
}

button {
	position: absolute;
	font-size: 36px;
	top: 0;
	right: 0;
	margin: 10px;
	background-color: transparent;
	border: none;
	color: greenyellow;
	text-shadow: 2px 2px 5px rgb(39, 179, 0);
	z-index: 1;
}

button:hover ~ .text {
	clip-path: ellipse(160% 70% at 50% 50%);
}
