* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
}

.card {
	width: 400px;
	background-color: #ddd;
	border-radius: 8px;

	&__img {
		width: 100%;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	&__body {
		padding: 10px 20px;
	}

	&__text {
		padding: 20px 0;
	}

	&__btns {
		display: flex;
		justify-content: space-around;
	}

	&__btn {
		padding: 10px 20px;
		border: 1px solid black;
		border-radius: 8px;
		cursor: pointer;

		&--highlight {
			background-color: rgb(33, 218, 132);
		}
	}
}
